//@double-border-color: #6EE2FF;
@double-border-outer-shadow: transparent;
@double-border-outer-corner: white;
@double-border-inner-corner: #666666;
@double-border-inner-shadow: transparent;
@double-border-between: #666666;
@double-border-content-color: #fafafa;

@cash-price: #50A050;
@code-price: #2D69BC;

@border-color: #BDBDBD;
@background: #fafafa;

@dark-text: #333;

.top-left-slanted-corner(@size: 0px) {
	top: 0;
	left: 0;
	border-width: 0 0 @size @size;
}

.top-right-slanted-corner(@size) {
	top: 0;
	right: 0;
	border-width: 0 @size @size 0;
}

.bottom-left-slanted-corner(@size) {
	bottom: 0;
	left: 0;
	border-width: @size 0 0 @size;
}

.bottom-right-slanted-corner(@size) {
	bottom: 0;
	right: 0;
	border-width: @size @size 0 0;
}

.no-select() {
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

@font-face {
	font-family: 'SF Collegiate';
	src: url('fonts/SF Collegiate.ttf');
}

@font-face {
	font-family: 'Commando';
	src: url('fonts/Commando.ttf');
}

@font-face {
	font-family: 'Willow Body';
	src: url('fonts/Willow Body.ttf');
}

html, body, .section {
	height: 100%;
}

html {
	position: relative;
	overflow-y: scroll;
}

body {
	position: relative;
	background: @background;
	color: @dark-text;
	width: 100%;
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	font-family: 'Willow Body', sans-serif;
}

#logo {
	font-family: 'Commando', sans-serif;
	font-size: 72px;
	text-align: center;
	padding: 40px 0 15px 0;
	color: lighten(@dark-text, 5%);

	span:nth-child(1) {
		letter-spacing: 0px;
	}
	span:nth-child(2) {
		letter-spacing: 2px;
	}
	span:nth-child(3) {
		letter-spacing: -6px;
	}
}

h4 {
	margin-bottom: 10px;
	font-weight: normal;
	font-size: 18px;
}

p {
	margin-bottom: 10px;
}

.navbar {
	text-align: center;
	img {
		width: 30px;
		height: 30px;
		margin-right: 5px;
	}
}
.navbar li, .back li {
	display: inline-block;
}

.nav-item {
	width: 200px;
	height: 60px;
	position: relative;

	&.active .nav-overlay {
		background: rgba(255, 255, 255, 0.1);
	}
}

.nav-overlay, .nav-item-content {
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
}

.nav-achievements {
	display: none;
}

.nav-overlay {
	background: rgba(255, 255, 255, 0.6);
	z-index: 1;
	transition: ease-in-out 0.1s;
	-webkit-transition: ease-in-out 0.1s;
	cursor: pointer;

	&:hover {
		background: rgba(255, 255, 255, 0.2);
	}
}

.nav-item-content {
	vertical-align: top;
	font-size: 18px;
	line-height: 30px;
}

#feature-container, #team-container, #upgrade-container {
	visibility: hidden;
	width: 300px;
	overflow-y: auto;
}

#feature-container {
	float: left;
	border-right: 1px solid @border-color;
}

#team-container, #upgrade-container {
	float: right;
	border-left: 1px solid @border-color;
}

#main-screen {
	margin: 0 602px 0 301px;
	position: relative;
	overflow-y: auto;
}

#write-code-button-container {
	position: relative;
	margin: 30px auto;
	width: 250px;
	height: 70px;
}

#write-code-button {
	width: 100%;
	font-size: 28px;
	cursor: pointer;
	background: @dark-text;
	color: @background;
	text-align: center;
	line-height: 70px;
}

#achievements-screen, #settings-screen {
	display: none;
	margin: 10px 30px;

	h2 {
		font-size: 26px;
		margin-bottom: 15px;
	}

	.part {
		margin-bottom: 30px;
	}
}

.achievement {
	display: inline-block;
	height: 80px;
	width: 80px;
	vertical-align: top;
	border: 1px solid #333333;

	img {
		margin: 4px;
		height: 72px;
		width: 72px;
		cursor: pointer;
	}
}

.achievement.locked {
	text-align: center;
	vertical-align: middle;
	font-size: 40px;

	& > div {
		margin: 4px;
		line-height: 72px;
		color: #CCCCCC;
		background: #333333;
	}
}

#codebase {
	height: 300px;
	overflow-y: hidden;
	position: relative;

	&:before {
		content: '';
		position: absolute;
		width: 100%;
		height: 100%;
		top: 0;
		left: 0;
		background: linear-gradient(@background 0px, transparent 20px, transparent 280px, @background 300px);
		z-index: 1;
	}
}

#codebase-content {
	position: relative;
	background: @background;
	top: 0;
	height: 300px;
	font-family: 'Consolas', sans-serif;
	margin: 10px 30px;
	font-size: 14px;
	line-height: 20px;
	-webkit-user-select: auto;
	white-space: pre-wrap;
	white-space: -moz-pre-wrap;
	white-space: -pre-wrap;
	white-space: -o-pre-wrap;
	word-wrap: break-word;
	.no-select();
	cursor: default;
}

#main-stats {
	text-align: center;
	left: 0;
	right: 0;
	background: @background;
	z-index: 1;
}

#main-stats > div {
	padding: 20px;
}

.huge-stats {
	font-size: 40px;
}

#main-stats p {
	margin-top: 15px;
	font-size: 18px;
}

.purchasable {
//	background: #F9F9F9;
	background: #ffffff;
	background: -moz-linear-gradient(top, #ffffff 0%, #eaeaea 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffffff), color-stop(100%,#eaeaea));
	background: -webkit-linear-gradient(top, #ffffff 0%,#eaeaea 100%);
	background: -o-linear-gradient(top, #ffffff 0%,#eaeaea 100%);
	background: -ms-linear-gradient(top, #ffffff 0%,#eaeaea 100%);
	background: linear-gradient(to bottom, #ffffff 0%,#eaeaea 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#eaeaea',GradientType=0 );
	position: relative;
	padding: 15px;
	border-bottom: 1px solid @border-color;
	cursor: pointer;
	-webkit-box-shadow: inset -1px -1px 0 rgba(255,255,255,0.7),inset 1px 1px 0 rgba(255,255,255,0.7);
	box-shadow: inset -1px -1px 0 rgba(255,255,255,0.7),inset 1px 1px 0 rgba(255,255,255,0.7);

	&:hover {
		background: #e6e6e6;
		background: -moz-linear-gradient(top, #e6e6e6 0%, #f0f0f0 100%);
		background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#e6e6e6), color-stop(100%,#f0f0f0));
		background: -webkit-linear-gradient(top, #e6e6e6 0%,#f0f0f0 100%);
		background: -o-linear-gradient(top, #e6e6e6 0%,#f0f0f0 100%);
		background: -ms-linear-gradient(top, #e6e6e6 0%,#f0f0f0 100%);
		background: linear-gradient(to bottom, #e6e6e6 0%,#f0f0f0 100%);
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e6e6e6', endColorstr='#f0f0f0',GradientType=0 );
	 }

	p {
		margin-bottom: 10px;
	}

	.price {
		color: @cash-price;
	}

	.code.price {
		color: @code-price;
	}
}

.purchasable-owned-count {
	position: absolute;
	right: 20px;
	top: 50%;
	color: #666666;
	transform: translate(0, -50%);
	font-size: 40px;
}

.purchasable-tooltip-wrapper {
	display: none;
	position: absolute;
	background: @double-border-between;
	box-shadow: 0 0 8px 4px @double-border-outer-shadow;
	top: 0;
	width: 250px;
	padding: 5px;
	z-index: 3;

	p {
		margin-bottom: 10px;
	}
}

.fancy-border:before, .fancy-border:after {
	content: '';
	position: absolute;
	border-style: solid;
}

.inner-wrapper {
	position: relative;
	box-shadow: 0 0 5px 3px @double-border-inner-shadow;
	z-index: 1;
	background: @double-border-content-color;
}


.purchasable-tooltip-wrapper {
	h4 {
		font-size: 20px;
	}

	.effect, .description {
		line-height: 20px;
		margin-bottom: 5px;
	}

	.effect {
		color: #4789B5;
	}

	.description {
		font-size: 15px;
	}

	&:before, &:after {
		border: none;
	}
}

.outer-border-1, .outer-border-2 {
	width: 250px;
//	background-image: linear-gradient(top, #024e74 0%, #000203 50%, #000203 100%);
//	background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #024e74), color-stop(0.5, #000203), color-stop(1, #000203));
//	background-image: -moz-linear-gradient(top, #024e74 0%, #000203 50%, #000203 100%);
//	background-image: -o-linear-gradient(top, #024e74 0%, #000203 50%, #000203 100%);
//	background-image: -ms-linear-gradient(top, #024e74 0%, #000203 50%, #000203 100%);
}

.inner-border-1, .inner-border-2 {
	padding: 5px;
}

.outer-border-1:before {
	.top-left-slanted-corner(10px);
	border-color: transparent @double-border-outer-corner;
}

.outer-border-2:before {
	.bottom-right-slanted-corner(10px);
	border-color: transparent @double-border-outer-corner;
}

.outer-border-1:after {
	.top-right-slanted-corner(10px);
	border-color: transparent @double-border-outer-corner;
}

.outer-border-2:after {
	.bottom-left-slanted-corner(10px);
	border-color: transparent @double-border-outer-corner;
}

.inner-border-1:before {
	.top-left-slanted-corner(6px);
	border-color: transparent @double-border-inner-corner;
}

.inner-border-2:before {
	.bottom-right-slanted-corner(6px);
	border-color: transparent @double-border-inner-corner;
}

.inner-border-1:after {
	.top-right-slanted-corner(6px);
	border-color: transparent @double-border-inner-corner;
}

.inner-border-2:after {
	.bottom-left-slanted-corner(6px);
	border-color: transparent @double-border-inner-corner;
}

.unaffordable, .unaffordable.require-cash {
	background: #DDD;
	color: #555;
}

.unaffordable.purchasable .price {
	color: #A05050;
}

.unaffordable.purchasable:hover {
	background: #DDD;
}


/* Popup */
.popup {
	display: none;
}

.popup-bg {
	background: #3d464d;
	opacity: 0.6;
	position: fixed;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
}

.wrapper {
	display: table;
	position: fixed;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
}

.popup-cell {
	display: table-cell;
	vertical-align: middle;
}

.popup-content {
	width: 400px;
	padding: 20px 40px 40px 40px;
	text-align: left;
	background-color: #FFFFFF;
	border: none;
	margin: 0 auto;
	overflow: hidden;
}


/* Notification */
.notification-container {
	position: absolute;
	bottom: 30px;
	left: 0;
	right: 0;
}

.notification {
	position: relative;
	margin: 0 auto;
	max-width: 300px;
	padding: 20px;
	border: 1px solid @border-color;
	background: @background;
	z-index: 2;
}

.notification img {
	display: inline-block;
	width: 60px;
	height: 60px;
	vertical-align: middle;
}

.notification > div {
	max-width: 200px;
	display: inline-block;
	padding: 0 5px 0 15px;
	vertical-align: middle;
}

.close-btn {
	position: absolute;
	display: inline-block;
	height: 20px;
	width: 20px;
	font-size: 30px;
	cursor: pointer;
	top: 0;
	right: 2px;
	padding: 8px;
}

.close-btn::before {
	content: "\D7";
}

#click-count {
	position: relative;
	top: 0px;
	left: 0px;
	max-width: 300px;
	max-height: 50px;
	color: black;
	-webkit-text-fill-color: black;
	-webkit-text-stroke-width: 1px;
	-webkit-text-stroke-color: white;
	font-size: 24px;
	z-index: 4;
}

/* Blinking cursor */
#typed-cursor {
	margin-left: 30px;
	font-size: 14px;
	color: #000000;
}

#typed-cursor.blinking {
	-webkit-animation: 1s blink step-end infinite;
	-moz-animation: 1s blink step-end infinite;
	-ms-animation: 1s blink step-end infinite;
	-o-animation: 1s blink step-end infinite;
	animation: 1s blink step-end infinite;
}

@keyframes "blink" {
	from,to {
		color: transparent;
	}
	50% {
		color: #000000;
	}

}

@-moz-keyframes blink {
	from,to {
		color: transparent;
	}
	50% {
		color: #000000;
	}

}

@-webkit-keyframes "blink" {
	from,to {
		color: transparent;
	}
	50% {
		color: #000000;
	}

}

@-ms-keyframes "blink" {
	from,to {
		color: transparent;
	}
	50% {
		color: #000000;
	}

}

@-o-keyframes "blink" {
	from,to {
		color: transparent;
	}
	50% {
		color: #000000;
	}
}