@font-face {
	font-family: 'SF Collegiate';
	src: url('fonts/SF Collegiate.ttf');
}

@font-face {
	font-family: 'Willow Body';
	src: url('fonts/Willow Body.ttf');
}

html, body, .section {
	height: 100%;
}

html {
	position: relative;
}

body {
	display: table;
	width: 100%;
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	font-family: 'Willow Body';
}

.section {
	display: table-cell;
	border-right: 1px solid black;
}

h4 {
	font-weight: bold;
}

#feature-container, #team-container, #upgrade-container {
	width: 300px;
}

.purchasable h4 {
	font-weight: normal;
	margin-bottom: 5px;
}

.purchasable p {
	font-size: 12px;
	margin-bottom: 5px;
}

.purchasable button {
	background: #222;
	color: #EEE;
	font-family: 'Willow Body';
	cursor: pointer;
}

.purchasable {
	padding: 10px;
	border-bottom: 1px solid #777;
}

#main-stats-container {
	font-family: "Consolas";
}

#codebase {
	margin: 10px;
	font-size: 14px;
	cursor: pointer;
}

#main-stats {
	text-align: center;
}

#main-stats > div {
	margin: 60px 20px;
}

.huge-stats {
	font-size: 40px;
}

#main-stats p {
	margin-top: 15px;
	font-size: 18px;
}

.unaffordable {
	background: #DDD;
	color: #666;
}

.unaffordable button {
	background: #888;
	color: #CCC;
 }