@font-face {
	font-family: 'SF Collegiate';
	src: url('fonts/SF Collegiate.ttf');
}

@font-face {
	font-family: 'Willow Body';
	src: url('fonts/Willow Body.ttf');
}

html, body, .section {
	height: 100%;
}

html {
	position: relative;
}

body {
	display: table;
	color: #333;
	width: 100%;
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	font-family: 'Willow Body';
}

#logo {
	color: #DDD;
	font-family: 'SF Collegiate', sans-serif;
	font-size: 54px;
	text-align: center;
	padding: 20px;
}

.section {
	display: table-cell;
	vertical-align: top;
	border-right: 1px solid black;
}

#feature-container, #team-container, #upgrade-container {
	width: 300px;
}

.purchasable {
	position: relative;
	padding: 15px;
	border-bottom: 1px solid #777;
	cursor: pointer;
}

.purchasable h4 {
	font-weight: normal;
	margin-bottom: 5px;
}

.purchasable p {
	font-size: 12px;
	margin-bottom: 5px;
}

.purchasable button {
	background: #222;
	color: #EEE;
	font-family: 'Willow Body', sans-serif;
	cursor: pointer;
	outline: none;
}

.purchasable_owned_count {
	position: absolute;
	right: 20px;
	top: 50%;
	transform: translate(0, -50%);
	font-size: 40px;
}

.purchasable_tooltip {
	display: none;
	position: absolute;
	background: white;
	top: 0;
	width: 250px;
	padding: 15px;
}

#codebase {
	color: #00FF00;
	font-family: 'Consolas', sans-serif;
	padding: 10px;
	font-size: 14px;
	cursor: pointer;
}

#main-stats-container {
	background: #000000;
}

#main-stats {
	text-align: center;
	color: #DDD;
}

#main-stats > div {
	padding: 20px;
}

.huge-stats {
	font-size: 40px;
}

#main-stats p {
	margin-top: 15px;
	font-size: 18px;
}

.unaffordable {
	background: #DDD;
	color: #666;
}

.unaffordable button {
	background: #888;
	color: #CCC;
 }