@font-face {
	font-family: 'SF Collegiate';
	src: url('fonts/SF Collegiate.ttf');
}

@font-face {
	font-family: 'Willow Body';
	src: url('fonts/Willow Body.ttf');
}

html, body, .section {
	height: 100%;
}

html {
	position: relative;
}

body {
	display: table;
	color: #333;
	width: 100%;
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	font-family: 'Willow Body';
}

#logo {
	color: #DDD;
	font-family: 'SF Collegiate', sans-serif;
	font-size: 54px;
	text-align: center;
	padding: 20px;
}

.section {
	display: table-cell;
	vertical-align: top;
	border-right: 1px solid #777;
}

#feature-container, #team-container, #upgrade-container {
	width: 300px;
}

.purchasable {
	background: #F9F9F9;
	position: relative;
	padding: 15px;
	border-bottom: 1px solid #777;
	cursor: pointer;
}

.purchasable:hover {
	background: #FFFFFF;
}

.purchasable h4 {
	font-weight: normal;
	font-size: 18px;
	margin-bottom: 10px;
}

.purchasable p {
	font-size: 12px;
	margin-bottom: 5px;
}

.purchasable .price {
	color: #50AD50;
}

.purchasable_owned_count {
	position: absolute;
	right: 20px;
	top: 50%;
	transform: translate(0, -50%);
	font-size: 40px;
}

.purchasable_tooltip {
	display: none;
	position: absolute;
	background: white;
	top: 0;
	width: 250px;
	padding: 15px;
	border: 1px solid #777;
}

.purchasable_tooltip h4 {
	margin-bottom: 10px;
	font-weight: normal;
	font-size: 20px;
}

#codebase {
	color: #00FF00;
	font-family: 'Consolas', sans-serif;
	padding: 10px;
	font-size: 14px;
	cursor: pointer;
}

#main-stats-container {
	background: #000000;
}

#main-stats {
	text-align: center;
	color: #DDD;
}

#main-stats > div {
	padding: 20px;
}

.huge-stats {
	font-size: 40px;
}

#main-stats p {
	margin-top: 15px;
	font-size: 18px;
}

.unaffordable {
	background: #DDD;
	color: #555;
}

.unaffordable.purchasable .price {
	color: #AD5050;
 }


/* Popup */
.popup {
	display: none;
}

.popup_bg {
	background: #3d464d;
	opacity: 0.6;
	position: fixed;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
}

.wrapper {
	display: table;
	position: fixed;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
}

.popup_cell {
	display: table-cell;
	vertical-align: middle;
}

.popup_content {
	width: 400px;
	padding: 20px 40px 40px 40px;
	text-align: left;
	background-color: #FFFFFF;
	border: none;
	margin: 0 auto;
	overflow: hidden;
}